<%= render 'shared/nav' %>
<%
help=[]
help[0]={}
help[0]["controller"]="surveys"
help[0]["url"]="<a href=/surveys>#{root_url}surveys</a>"
help[0]["text"]="sortie json de toutes les enquêtes (non associées à un livrable) envoyées et n'ayant pas de fait l'objet de réponse (pending surveys)"

if max_poll_id=Poll.all.maximum(:id)
  a={}
  a["controller"]="surveys"
  a["url"]="<a href=surveys?csv=1&poll_id=#{max_poll_id}>#{root_url}surveys?csv=1&poll_id=#{max_poll_id}</a>"
  a["text"]="export csv de toutes les réponses récoltées par l'utilisateur connecté pour le sondage #{max_poll_id} sur des enquêtes non associées à un livrable qu'il a lancé"
  help << a
  a={}
  a["controller"]="surveys"
  a["url"]="<a href=surveys?csv=1&poll_id=#{max_poll_id}&all=1>#{root_url}surveys?csv=1&poll_id=#{max_poll_id}&all=1</a>"
  a["text"]="export csv de toutes les réponses récoltées pour le sondage #{max_poll_id} sur des enquêtes non associées à un livrable"
  help << a
end

if min_survey_id=Survey.all.minimum(:id)
  a={}
  a["controller"]="surveys"
  a["url"]="<a href=/surveys/#{min_survey_id}>#{root_url}surveys/#{min_survey_id}</a>"
  a["text"]="sortie json de l'enquête #{min_survey_id} qui n'a pas reçu de réponse"
  help << a
  a={}
  a["controller"]="surveys"
  a["url"]="<a href=/surveys/#{min_survey_id}?email=send>#{root_url}surveys/#{min_survey_id}?email=send</a>"
  a["text"]="envoi le mel correspondant à l'enquête #{min_survey_id} si elle est encore active (ie pas encore de réponse)"
  help << a
end

a={}
a["controller"]="surveys"
a["url"]="<a href=/getpolls>#{root_url}getpolls</a>"
a["text"]="sortie json de tous les types de sondages disponibles (pattern polls)"
help << a

a={}
a["controller"]="surveys"
a["url"]="<a href=/getpolls?mynums=1>#{root_url}getpolls?mynums=1</a>"
a["text"]="Liste des numéros de sondages sur lesquels l'utilisateur connecté a reçu des réponses après avoir déclenché des enquêtes non associées à un livrable"
help << a


a={}
a["controller"]="satisfactions"
a["url"]="<a href=/satisfactions>#{root_url}satisfactions</a>"
a["text"]="sortie json de toutes les réponses obtenues, toutes enquêtes confondues."
a["text"]="#{a["text"]} <br> N'intègre pas de données statistiques - uniquement les réponses intégrales."
help << a

if max_poll_id

  a={}
  a["controller"]="satisfactions"
  a["url"]="<a href=/satisfactions?poll_id=#{max_poll_id}&start=2018-01-01&end=2019-06-01&groups=DLCF&csv=1>"
  a["url"]="#{a["url"]} #{root_url}satisfactions?poll_id=#{max_poll_id}&start=2018-01-01&end=2019-06-01&groups=DLCF&csv=1</a>"
  a["text"]="sortie csv de toutes les réponses obtenues, pour l'enquête #{max_poll_id} sur une période temporelle et pour un fragment de groupe donné"
  a["text"]="#{a["text"]} <br><i>start, end et groups sont optionnels. En cas d'absence, la requête renvoie toutes les réponses de l'enquête</i>"
  a["text"]="#{a["text"]} <br><b>si csv n'est pas indiqué, renvoie au format json</b>"
  a["text"]="#{a["text"]} <br>A noter que la sortie json intègre intégre des statistiques et les réponses intégrales"
  help << a

end

if min_satisfaction_id=Satisfaction.where("folder_id <?",0).minimum(:id)
  a={}
  a["controller"]="satisfactions"
  a["url"]="<a href=satisfactions/json/#{min_satisfaction_id}>#{root_url}satisfactions/json/#{min_satisfaction_id}</a>"
  a["text"]="sortie json de la réponse de satisfaction #{min_satisfaction_id} si elle existe"
  help << a
end

a={}
a["controller"]="satisfactions"
a["url"]="<a href=freelist>#{root_url}freelist</a>"
a["text"]="couple (id/numéro affaire) des réponses satisfaction obtenus par l'utilisateur connecté sur des enquêtes non associées à un livrable qu'il a lancé"
help << a

a={}
a["controller"]="clients"
a["url"]="<a href=clients>#{root_url}clients</a>"
a["text"]="sortie json de tous les clients (hors utilisateurs enregistrés) dans la base - un client n'est enregistré que s'il a effectivement répondu à une enquête"
help << a

if min_client_id=Client.all.minimum(:id)
  a={}
  a["controller"]="clients"
  a["url"]="<a href=clients/#{min_client_id}>#{root_url}clients/#{min_client_id}</a>"
  a["text"]="sortie json du client #{min_client_id}"
  help << a
end

a={}
a["controller"]="clients"
melfrag="ademe"
a["url"]="<a href=clients?melfrag=#{melfrag}>#{root_url}clients?melfrag=#{melfrag}</a>"
a["text"]="sortie json de tous les clients dans la base dont l'adresse mel contient le fragment #{melfrag}"
help << a

a={}
a["controller"]="users"
melfrag="a"
a["url"]="<a href=users?melfrag=#{melfrag}&groups=DLCF&statut=private&admin=1>#{root_url}users?melfrag=#{melfrag}&groups=DLCF&statut=private&admin=1</a>"
a["text"]="sortie json de tous les utilisateur avec adresse mel contenant le fragment #{melfrag}, paramètres groups contenant le mot DLCF, et statut private<br>"
a["text"]="#{a["text"]}<b>Si admin n'est pas indiqué, ne calcule pas les pratiques de partages (reçoit/offre) stockés dans les champs virtuels is_sharing et has_shares</b><br>"
a["text"]="#{a["text"]}<i>La requête ne s'exécute que si l'on précise au moins un des 4 paramètres (admin, melfrag, statut, groups)</i><br>"
help << a

if min_shared_folder_id=current_user.shared_folders.joins(:folder).select("folders.id as folder_id")[0].folder_id
  a={}
  a["controller"]="shared_folders"
  a["url"]="<a href=getshares/#{min_shared_folder_id}>#{root_url}getshares/#{min_shared_folder_id}</a>"
  a["text"]="sortie json des partages du répertoire #{min_shared_folder_id}"
  a["text"]="#{a["text"]} {id, user_id, share_email, share_user_id, folder_id, message, created_at, updated_at}"
  a["text"]="#{a["text"]}. Message est un champ texte utilisé pour enregistrer le nombre de click sur les documents du répertoire partagé"
  help << a
end

a={}
a["controller"]="shared_folders"
a["url"]="<a href=shared_folders?update_meta=1>#{root_url}shared_folders?update_meta=1</a>"
a["text"]="met à jour les metadonnées de tous les répertoires - utile en cas de migration depuis une version obsolète de colibri"
help << a

a={}
a["controller"]="shared_folders"
a["url"]="<a href=shared_folders>#{root_url}shared_folders</a>"
a["text"]="sortie json des metadonnées de tous les répertoires"
help << a

if min_folder_id=current_user.folders.minimum(:id)
  a={}
  a["controller"]="shared_folders"
  a["url"]="<a href=shared_folders?id=#{min_folder_id}>#{root_url}shared_folders?id=#{min_folder_id}</a>"
  a["text"]="sortie json des metadonnées (partages, retours satisfactions) du répertoire #{min_folder_id}"
  help << a
  a={}
  a["controller"]="shared_folders"
  a["url"]="<a href=shared_folders?id=#{min_folder_id}&update_meta=1>#{root_url}shared_folders?id=#{min_folder_id}&update_meta=1</a>"
  a["text"]="met à jour les metadonnées (partages, retours satisfactions) du répertoire #{min_folder_id}"
  help << a
  a={}
  a["controller"]="folders"
  a["url"]="<a href=browse?id=#{min_folder_id}>#{root_url}browse?id=#{min_folder_id}</a>"
  a["text"]="sortie json du répertoire #{min_folder_id} à savoir le contenu de la ligne #{min_folder_id} de la table 'folder'"
  a["text"]="#{a["text"]} {id, name, parent_id, user_id, created_at, updated_at, poll_id, lists}."
  a["text"]="#{a["text"]} Le champ lists contient les métadonnées (numéros de partage, numéros de retous satisfactions)"
  help << a
  a={}
  a["controller"]="folders"
  a["url"]="<a href=list?id=#{min_folder_id}>#{root_url}list?id=#{min_folder_id}</a>"
  a["text"]="sortie json contenant en plus des données de la sortie browse, les données relatives aux sous-répertoires/fichiers/partages/retours satisfactions du répertoire #{min_folder_id} si l'utilisateur y a accès"
  help << a
end

a={}
a["controller"]="folders"
a["url"]="<a href=list>#{root_url}list</a>"
a["text"]="sortie json des répertoires et fichiers racines de l'utilisateur et des répertoires qui lui sont partagés"
help << a

if min_asset_id=current_user.assets.minimum(:id)
  a={}
  a["controller"]="assets"
  a["url"]="<a href=assets/#{min_asset_id}>#{root_url}assets/#{min_asset_id}</a>"
  a["text"]="sortie json de l'asset #{min_asset_id} si l'utilisateur y a accès"
  a["text"]="#{a["text"]} {id, user_id, created_at, updated_at, uploaded_file_file_name, uploaded_file_content_type, uploaded_file_file_size, uploaded_file_updated_at, folder_id}"
  a["text"]="#{a["text"]}. Route pas utilisée dans l'application. La route list est beaucoup plus puissante."
  help << a
end

%>

<h1>API help</h1>
<table class=table>
<thead>
  <td>
    Controlleur
  </td>
  <td>
    URL
  </td>
  <td>
    action
  </td>
</thead>

<% help.each do |h| %>
<tr>
  <td>
    <%= h["controller"] %>
  </td>
  <td>
    <%= h["url"].html_safe %>
  </td>
  <td>
    <%= h["text"].html_safe %>
  </td>
</tr>
<% end %>

</table>