<%= form_for @asset, url: assets_path, html: { multipart: true } do |f| %>
    <p>
      <%= f.file_field :uploaded_file, class:"custom-file-input" %>
      <%= f.submit "Lancer le téléchargement" %>
    </p>

	<%= f.hidden_field :folder_id %>
    
<% end %>
	