/* Style for satisfaction form */ 

.title{
  margin-left: 25px;
  text-transform: uppercase;
}

p{
  font-weight: 700;
  margin-left:10px;
  margin-top: 0;
  margin-bottom: 0;
}

div.stars {
  display: inline-block;
  padding: 5px;
}

.stars input { display: none; }

.stars label {
  float: right;
  padding: 10px;
  font-size: 30px;
  color: #444;
  transition: all .2s;
}

input:checked ~ label:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input[value="4"]:checked ~ label:before{
  color: #D5EC6A; 
  text-shadow: 0 0 20px #D5EC6A;
}

input[value="3"]:checked ~ label:before {
  color: #BCD350; 
  text-shadow: 0 0 20px #BCD350;
}

input[value="2"]:checked ~ label:before {
  color: orange; 
  text-shadow: 0 0 20px orange;
}

input[value="1"]:checked ~ label:before {
  color: #F62; 
  text-shadow: 0 0 20px #F62;
}

div label:hover { 
  transform: rotate(-15deg) scale(1.3);
  cursor: pointer;
}


.stars label:before {
  content: '\f006'; /* star f006 f007*/ 
  font-family: FontAwesome;
}


textarea{
	margin: 10px;
  resize: none;
}


/* Style for satisfaction form inside the show view of a shared_folder */

.display_anchor{
  cursor: pointer;
}