<!DOCTYPE html>
<html>

  <head>
    <title>Cerema sharebox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/divers/logo.jpg"/>
  </head>

  <body>
  <%# if we want to use other flash message%> 
  <%#= flash[:error] %>
  <%= yield %>
  </body>
  
</html>
